

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
    color: blue;
}

/* ------------------------------
    NAVBAR
------------------------------ */

nav {
    background: #2c3e50;
    color:  orchid;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav a {
    color:darkmagenta;
    text-decoration:
